<div class="main-container">
  <div class="sidebar">
    <div class="head">
      <button class="btn-sidebar" (click)="showNewQuery()">
        ➕ New search
      </button>
    </div>
    <div class="list-view">
      <ul class="queryList">
        <li class="list-item" *ngFor="let item of researchBookList">
          <div class="list-icon">📂</div>
          <div class="list-title">
            <p>{{ item.name }}</p>
            <small>{{ item.dateCreated }}</small>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer">
      <div class="name-initials">JT</div>
      <div class="user-name">Janvi Thakkar</div>
      <div class="logout-icon">
        <span class="fa-solid fa-right-from-bracket" [routerLink]="['/']">Log out</span>
      </div>
    </div>
    <div class="footer-btns">
      <button class="btn-1" [routerLink]="['/update-profile']">Update user </button>
      <button class="btn-2" [routerLink]="['/update-password']">Update password </button>
    </div>
  </div>

  <div class="main-content" *ngIf="newQuery">
    <img src="../../../assets/image/logo2.PNG" />
    <div class="search-bar-container">
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Tell us about your query."
          [(ngModel)]="query"
        />
        <mat-icon matSuffix (click)="showQueryResponse()">search</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="response-body" *ngIf="showResponse">
    <div class="response-content">
      <div class="header">
        <img src="../../../assets/image/logo2.PNG" />
        <p [routerLink]="['/advancefilter']">Advanced Filters | clear</p>
      </div>
      <div class="search-bar">
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Tell us about your query."
            [(ngModel)]="query"
          />
          <mat-icon matSuffix (click)="showQueryResponse()">search</mat-icon>
        </mat-form-field>
      </div>
      <div class="response-container">
        <div class="response">
          <div class="response-head">Database design</div>
          <div class="response-text">
            Designing a database involves creating a structured plan for how
            data will be stored, organized, and accessed within a database
            management system (DBMS). A well-designed database ensures data
            integrity, efficiency, and the ability to meet the requirements of
            the application it supports. Below are some key steps and principles
            for designing a database:
          </div>
        </div>
      </div>
    </div>

    <div class="right-side-menus">
      <div class="research-book">
        <p>Research Book</p>
        <mat-form-field appearance="outline">
          <input matInput />
          <mat-icon matSuffix (click)="showQueryResponse()">pencil</mat-icon>
        </mat-form-field>

        <ul class="research-book-list">
          <li *ngFor="let item of researchBookList">{{ item.name }}</li>
        </ul>
      </div>
      <div class="relavent-judgement">
        <p>Relavent Judgement</p>

        <ul class="research-book-list">
          <li>Entity-Relationship Diagrams (ERD) Design</li>
          <li>Normalization Techniques in Database Design</li>
          <li>SQL Database Design Best Practices</li>
          <li>Indexing Strategies for Database Performance</li>
        </ul>
      </div>
    </div>
  </div>
</div>
