<div class="main">
    <div class="signup">
      <img src="../../../assets/image/logo(login).PNG" alt="">
      <h4>Change Password</h4>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdatePassword()">
        <input type="email" placeholder="Enter Email-address" formControlName="email">
        <small *ngIf="updateForm.get('email')?.hasError('required') && updateForm.get('email')?.touched" style="color: red;">*Email-address is required</small>
        <small *ngIf="updateForm.get('email')?.hasError('email') && updateForm.get('email')?.touched" style="color: red;">*Invalid email format</small>
        <input type="password" placeholder="old Password" formControlName="oldPassword">
        <small *ngIf="updateForm.get('oldPassword')?.hasError('required') && updateForm.get('oldPassword')?.touched" style="color: red;">*Old Password is required</small>
        <small *ngIf="updateForm.get('oldPassword')?.hasError('minlength') && updateForm.get('oldPassword')?.touched" style="color: red;">*Old Password must be at least 6 characters long</small>
        <input type="password" placeholder="new Password" formControlName="newPassword">
        <small *ngIf="updateForm.get('newPassword')?.hasError('required') && updateForm.get('newPassword')?.touched" style="color: red;">*New Password is required</small>
        <small *ngIf="updateForm.get('newPassword')?.hasError('minlength') && updateForm.get('newPassword')?.touched" style="color: red;">*New Password must be at least 6 characters long</small>
        <input type="password" placeholder="confirm new Password" formControlName="Confirmpassword">
      <small *ngIf="updateForm.get('Confirmpassword')?.hasError('required') && updateForm.get('Confirmpassword')?.touched" style="color: red;">*confirm New Password is required</small>
      <small *ngIf="updateForm.get('Confirmpassword')?.hasError('minlength') && updateForm.get('Confirmpassword')?.touched" style="color: red;">*New Password must be at least 6 characters long</small>
        <button type="submit">Change Password</button>
      </form>
    </div>
  </div>