<p>advancefilter works!</p>

<div class="filter-container">
    <div class="filter-column">
      <div class="filter-item">
        <h3 class="custom-title">Advanced Options</h3>
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Court</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Case Type</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Citation</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Section</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Respondent</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="filter-column">
      <h3 class="custom-section-title">Close</h3>
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Bench</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Case Number</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Act</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Petitioner</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
  
      <div class="filter-item">
        <div class="custom-dropdown">
          <button class="custom-dropdown-button">Judgment Year</button>
          <div class="custom-dropdown-content">
            <a href="#">Choice 1</a>
            <a href="#">Choice 2</a>
            <a href="#">Choice 3</a>
          </div>
        </div>
      </div><br><br>
    </div>
  </div>
  <div class="custom-button-group">
    <button class="custom-reset-button">Reset</button>
    <button class="custom-submit-button">Submit</button>
  </div>
