<!-- <p>signup works!</p> -->

<div class="main">
    <div class="signup">
        <img src="../../../assets/image/logo(login).PNG" alt="">
        <h4>Create your Account</h4>
         <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <input type="text" placeholder="First Name" formControlName="firstName">
            <small *ngIf="signupForm.get('firstName')?.hasError('required') && signupForm.get('firstName')?.touched" style="color: #26a700;">*First Name is required</small>
            
            <input type="text" placeholder="Last Name" formControlName="lastName">
            <small *ngIf="signupForm.get('lastName')?.hasError('required') && signupForm.get('lastName')?.touched" style="color: #26a700;">*Last Name is required</small>

            <input type="text" placeholder="User Name" formControlName="userName">
            <small *ngIf="signupForm.get('userName')?.hasError('required') && signupForm.get('userName')?.touched" style="color: #26a700;">*User Name is required</small>
            
            <input type="text" placeholder="Organization" formControlName="organization">
            <small *ngIf="signupForm.get('organization')?.hasError('required') && signupForm.get('organization')?.touched" style="color: #26a700;">*Organization is required</small>

            <input type="text" placeholder="Contact Details" formControlName="contactdetails">
            <small *ngIf="signupForm.get('contactdetails')?.hasError('required') && signupForm.get('contactdetails')?.touched" style="color: #26a700;">*Contact Details is required</small>

            <input type="email" placeholder="Email address" formControlName="email">
            <small *ngIf="signupForm.get('email')?.hasError('required') && signupForm.get('email')?.touched" style="color: #26a700;">*Email address is required</small>
            <small *ngIf="signupForm.get('email')?.hasError('email') && signupForm.get('email')?.touched" style="color: #26a700;">*Invalid email format</small>

            <input type="password" placeholder="Password" formControlName="password">
            <small *ngIf="signupForm.get('password')?.hasError('required') && signupForm.get('password')?.touched" style="color: #26a700;">*Password is required</small>
            <small *ngIf="signupForm.get('password')?.hasError('minlength') && signupForm.get('password')?.touched" style="color: #26a700;">*Password must be at least 6 characters long</small>

            <select name="designation" formControlName="designation">
                <option value="" disabled>Select</option>
                <option value="Lawyer">Lawyer</option>
                <option value="Cricketer">Cricketer</option>
                <option value="Actor">Actor</option>
            </select>
            <small *ngIf="signupForm.get('designation')?.hasError('required') && signupForm.get('designation')?.touched" style="color: #26a700;">*Designation is required</small>

            <button type="submit">Continue</button>
        </form>
        <p>Already have an account? <span><a [routerLink]="['/login']">Login</a></span></p>
    </div>
    <p >Terms of use | Privacy Policy</p>
</div>
