<!-- <p>login works!</p> -->

<div class="login">
  <div class="main">
      <img src="../../../assets/image/logo(login).PNG" alt="">
      <h3>Welcome Back</h3>
      <form action="">
          <input type="text" placeholder="Enter Email-address">
          <small style="color: #26a700;">*Email-address is required</small>
          <input type="password" placeholder="Password">
          <small style="color: #26a700;">*Password is required</small>

          <p>Forgot Password ?</p>
          <button type="submit">Log in</button>
          <p>Don't have an account ? <span><a href="/signup">Sign up</a></span></p>
          <p>OR</p>
          <div class="google">
              <img src="../../../assets/google.png" alt="">
              <p>Continue with Google</p>
          </div>
      </form>
  </div>
  <p>Terms of use | Privacy Policy</p>
</div>
